@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
}

.content-wrapper {
    width: 600px;
    height: 400px;
    position: relative;
    margin: 200px auto;

}

.content-wrapper img{
    width: 600px;
    height: 400px;
}

.text-wrapper {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
}

.text-wrapper h1{
    text-align: center;
    color:#ffffff;
    font-size: 10vw;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container .box {
    position: relative;
    width: 320px;
    background: rgb(219 219 202);
    padding: 100px 40px 60px;
    box-shadow: 0 15px 45px rgba(0,0,0,.1);
}

.container .box:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(234, 233, 240);
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}

.container .box:hover:before {
    color:rgb(53, 39, 87);
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}

.container .box h2 {
    position: absolute;
    color: rgb(224, 178, 178);
    left: 40px;
    top: 60px;
    font-size: 4em;
    font-weight: 800;
    z-index: 1;
    opacity: 0.1s;
    transition: 0.5s;
}

.container .box:hover h2{
    opacity: 1;
    color: rgb(255, 255, 255);
    transform: translateY(-40px);
}

.container .box h3{
    position: relative;
    font-size: 1.5em;
    z-index: 2;
    color: #333;
    transition: 0.5s;
}

.container .box:hover h3 {
    color: #fff;
    font-size: 1.5em;
    z-index: 2;
    transition: 0.5s;
}

.container .box p{
    position: relative;
    z-index: 2;
    color:#555;
    transition: 0.5s;
}

.service {
    color: rgb(169, 206, 209);
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 5px 5px 10px #000000;
    font-family: 'Poppins', sans-serif;
}

/* .service {
    color: rgb(169, 206, 209);
    position: relative;
    top: 50%;
    text-align: center;
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 5px 5px 10px #000000;
    font-family: 'Poppins', sans-serif;
} */

.img {
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}

footer {
    position: sticky;
    top: 100%;
    overflow: hidden;

}

.navbar-nav > li{
    padding-left:20px;
    padding-right:20px;
}

.card my-5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

btn btn-dark:hover {
    background-color:#fff;
}

.offer {
    text-align: center;
    padding: 2rem;
    background-color: antiquewhite;
    margin: 2rem;  
}

.offer h3 {
    text-shadow: 5px 5px 10px #555; 
}

.card-title {
    text-align: center;
}